.sort-category-data-Table ul,
.sort-category-data-Table li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sort-category-data-Table li {
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding: 15px 18px;
  position: relative; 
  background: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  cursor: grab;
}